/* @import '~antd/dist/antd.css'; */

/*reset css*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: bottom;
}   
*{
  box-sizing: border-box;
}
.container::after , .container::before ,.container-fluid:after ,.container-fluid:before{
  display: table;
  content: " ";
}
::after,::before ,* ,*:after,*:before{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
section,div {
  display: block;
}
.container:after ,.container-fluid:after {clear: both;}
p{
  margin-bottom: 0px !important;
}
/*reset css over*/

.App {
  text-align: center;
}
li,ul{
  list-style: none;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
td{
  /* border-bottom: 1px solid #80808057; */
  width: 200px;
  padding: 12px 14px 16px 14px;
}
th {
  text-align: center;
  min-width: 200px;
  border-bottom: 1px solid #b4b4b487;
  font-weight: bold;
  padding: 17px 0 17px 14px;
  position: relative;
}
 
/* td:hover{
  background-color: #ddd;
} */
thead{
  background-color: #dddddd4f;
}
tbody tr:hover{
  background-color: #cbe9f0ab;
}
/* .table{
  width: 75%;
} */
.table{
  min-height: 251px;
}
@keyframes App-logo-spin {
  from {
  transform: rotate(0deg);
  }
  to {
  transform: rotate(360deg);
  }
}
/*pop up*/
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(63, 63, 63, 0.63);
  margin: 0 auto;
  text-align: center;
  display: grid;
  /* JUSTIFY-CONTENT: CENTER; */
 align-content: center;
} 
.popup_inner {  
  position: absolute;  
  left: 25%;  
  right: 25%;  
  top: 25%;  
  bottom: 25%;  
  margin: auto;  
  border-radius: 20px;  
  background: white;  
}

.popup_inner input{
  border: 1px solid #ddddddb3;
}
/*pop up over*/
.filter-for-a{
  display: flex;
  width: 65%; 
  max-width: 200px;
  justify-content: flex-end;
  font-weight: initial; 
}
.filter-for-th{
  display: flex;
  justify-content: flex-end;
}
.buttons{
  color: #1890ff;
  float: left;
  padding: 5px;
  cursor: pointer;
  padding-bottom: 0px;
}
.addButton input{
  BORDER: 1PX SOLID #dddddd67;
}
.sortingArrow{
  display: flex;
  flex-direction: column-reverse;
  padding-left: 12px;
  
}
.titleHeader{
  display: flex;
}
.headerWrapper{
  display: flex;
  align-items: center;
}
.tableTitle{
  display: grid;
  align-content: center;
}
.fa{color:#1890ff;}
.fa:hover{color:#105ba1;}
.sortingArrow button {
  border: none;
  background-color: #ddd0;
}
.fa-caret-up{
  margin-bottom: -5px;
}

/*dropdown*/
.dropdown button {
  background-color: #fff;
  border: 1px solid #fff;
  color: #1890ff;
}

.dropdownParent{
  position: relative;
}
.dropdown{
  text-align: left;
  position: absolute;
  background-color: #fff;
  border:1px solid #ddd;
  padding: 13px;
  box-shadow: 0px 4px 9px 0px #e2e2e2;
}
.dropdown-inner input{
  margin-right: 4px;

}
.anticon-filter{
  padding-left: 4px;
}
.searchPopup{
  position: absolute;
}
/* dropdown over*/

.sortingArrow button:hover {
  border: none;
}
.searchPopup {
  position: absolute;
  right: 0;
}
.page{
  display: flex;
  cursor: pointer;
  padding: 12px;
}
li {
  padding: 9px 15px !important;
  border: 1px solid #c7c7c7;
  margin: 2px;
  border-radius: 5px;
}
ul#page {
  display: flex;
}
.pagination{
  display: flex;
}
.disabled a{
  color: #838383 !important; 
}
.pagination .active a{
   
  
}
.pagination .active{
  border:1px solid grey;
  
}
 
.rootApp-inner{
  min-height: 602px;
}
.addButton{
  background-color: #fff;
    border:1px solid #ddd;
    padding: 10px 12px;
    border-radius: 8px;
    margin-left: 4px;
    max-width: 790px;
}
.SubmitButton{
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 2px 23px;
  border-radius: 5px;
}
.dropdown-inner {
  font-size: 15px;
}
.searchPopup-inner button {
  color: #1890ff;
  font-size: 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  width: 50%;
}
.searchPopupInput{
  border: 1px solid #ddd;
}
.searchPopupButtons{
  display: flex;
    justify-content: space-between;
}
.searchPopup-inner {
  background-color: #fff;
  border: 1px solid #DDD;
}

.rootApp{
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.headerWrapper{
  justify-content: center;
}
.editDelete{
  display: flex;
    justify-content: center;
}
.addButton {
  margin: 0 auto;
}